.partners {
    &__slider {
        position: relative;
        padding-right: 70px;

        @media screen and (max-width: $Small-l) {
            display: grid;
            grid-template-rows: repeat(6, auto);
            grid-template-columns: repeat(3,1fr);
            gap: 3%;
            padding-right: 0;
        }
    }
    &__slide-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 180px;
        border: 1px solid #CFCFCF;
        border-radius: 50%;
        background: $white;
        padding: 10px;
        // box-shadow: 0px 30px 100px 0px rgba(31, 80, 254, 0.2);

        @media screen and (max-width: 1600px) {
            width: 140px;
            height: 140px;
        }
        @media screen and (max-width: 1280px) {
            width: 120px;
            height: 120px;
        }
        @media screen and (max-width: 1024px) {
            width: 100px;
            height: 100px;
        }
        @media screen and (max-width: $Small-l) {
            margin: 0 auto;
        }
        @media screen and (max-width: $Small-xs) {
            width: 80px;
            height: 80px;
        }
    }
}
.slick-track {
    display: flex;
    align-items: center;
}  
.slick-list {
    overflow: hidden;
    // padding: 100px 0;
}
.slick-arrow {
    position: absolute;
    right: 0;
    width: 65px;
    height: 65px;
    border: 1px solid #CFCFCF;
    border-radius: 50%;
    font-size: 0;
    background: $blue;

    @media screen and (max-width: 1440px) {
        width: 48px;
        height: 48px;
    }
    @media screen and (max-width: 1280px) {
        width: 40px;
        height: 40px;
    }
    @media screen and (max-width: 900px) {

    }

    &:before {
        content: '\25B6';
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 20px;
        color: $white;
        transform: translate(-50%,-50%);
    }
}
.slick-arrow.slick-next {
    top: 0%;
}
.slick-arrow.slick-prev {
    bottom: 0%;
    transform: rotate(180deg);
}
.slick-arrow.slick-disabled {
    background: #F1F1F1;
    &::before {
        color: #CFCFCF;
    }
}