@import 'reset.scss';
@import 'variables.scss';
@import 'global.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'partners_slider.scss';
@import 'footer.scss';
//common style
body {
    font-family: 'SF Pro Display';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: $black-main;

    @media screen and (max-width: 1440px) {
       font-size: 16px;
    }

    @media screen and (max-width: 1300px) {
       font-size: 14px; 
    }

    &.lock {
      overflow: hidden;
    }
}
section {
   position: relative;
   padding: 80px 0 150px;
   border-radius: 100px 100px 0 0;
   margin-top: -100px;

   @media screen and (max-width: 1440px) {
      border-radius: 50px 50px 0 0;
      padding: 64px 0 100px;
      margin-top: -60px;
   }
   @media screen and (max-width: 1280px) {
      padding: 56px 0 100px;
      margin-top: -60px;
   }
   @media screen and (max-width: $Medium-s) {
      border-radius: 30px 30px 0 0;
   }
}
.title {
   font-size: 50px;
   font-weight: 700;
   line-height: 1.5;

   @media screen and (max-width: 1440px) {
      font-size: 42px;
      font-weight: 700;
      line-height: 1.193;
   }
   @media screen and (max-width: 1280px) {
      font-size: 42px;
      font-weight: 700;
      line-height: 1.193;
   }
   @media screen and (max-width: $Small-l) {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.193;
   }
}
.button {
   display: block;
   max-width: 400px;
   width: 100%;
   margin: 0 auto;
   text-transform: uppercase;
   color: $white;
   background: $blue;
   padding: 12px;
   border: none;
   cursor: pointer;
   @media screen and (max-width: 1440px) {
      padding: 18px;
   }
   @media screen and (max-width: 1280px) {
      padding: 16px;
      font-size: 14px;
   }
}
//button top
.button-top {
   display: none;
   position: fixed;
   bottom: 5%;
   right: 5%;
   width: 64px;
   height: 64px;
   border-radius: 50%;
   border: 1px solid $blue;
   background: $white url('../img/button-top.png')no-repeat 50% 50%;
   cursor: pointer;
   
   &.scroll {
      display: block;
   }

   @media screen and (max-width: $Small-l) {
      width: 44px;
      height: 44px;
   }
}
//section group
.group {
   margin-top: 0;
   border-radius: 0;
   background: linear-gradient(296.95deg, rgba(255, 255, 255, 0.5) 15.52%, rgba(233, 241, 255, 0.5) 95.06%);

   &__wrapper {
      display: flex;

      @media screen and (max-width: $Medium-l) {
         flex-direction: column;
      }
   }

   &__items {
      &:first-child {
         @media screen and (max-width: $Medium-l) {
            margin-bottom: 50px;
         }
      }
   }

   &__title {
      font-size: 72px;
      font-weight: 700;
      line-height: 1.5;
      color: $blue;
      margin-bottom: 24px;

      @media screen and (max-width: 1440px) {
         font-size: 60px;
         line-height: 1.119;
      }
      @media screen and (max-width: 1280px) {
         font-size: 40px;
         line-height: 1.193;
      }
      @media screen and (max-width: $Small-s) {
         font-size: 30px;
      }
   }

   &__text {
      max-width: 900px;
      margin-bottom: 30px;

      &:nth-of-type(2) {
         margin-bottom: 70px;
         @media screen and (max-width: $Small-l) {
            margin-bottom: 0;
         }
      }
   }

   &__images {
      display: flex;
      @media screen and (max-width: $Small-l) {
         display: none;
      }
   }

   &__image {
      margin-right: 52px;
   }
}
// section services
.services {
   background: linear-gradient(72.05deg, #E6EFFF 12.23%, #D9E1FF 50.72%, #CBD2FF 88.67%);

   &__title {
      margin-bottom: 30px;
   }

   &__text {
         margin-bottom: 30px;
   }

   &__cards {
      gap: 22px;
      display: flex;
      margin-bottom: 40px;

      @media screen and (max-width: 800px) {
         flex-direction: column;
      }
   }

   &__card {
      position: relative;
      flex: 0 1 33.33%;
      padding: 24px 24px 32px 24px;
      background: $white;
      box-shadow: 0px 100px 80px rgba(31, 80, 254, 0.03), 0px 64.8148px 46.8519px rgba(31, 80, 254, 0.0227778), 0px 38.5185px 25.4815px rgba(31, 80, 254, 0.0182222), 0px 20px 13px rgba(31, 80, 254, 0.015), 0px 8.14815px 6.51852px rgba(31, 80, 254, 0.0117778), 0px 1.85185px 3.14815px rgba(31, 80, 254, 0.00722222);

      &:nth-child(1) {
         border-radius: 30px 0 0 0;
      }
      &:nth-child(3) {
         border-radius: 0 0 30px 0;
      }

      &:nth-child(-n+3) {
         @media screen and (max-width: $Medium-l) {
            border-radius: 30px 0 0 0;
         }
      }
   }

   &__card-title {
      margin-bottom: 60px;
      
      .services__card:first-child & {
            @media screen and (max-width: 1680px) {
               max-width: 170px;
               margin-bottom: 20px;
            }
      }
      .services__card:nth-child(-n+3) & {
         @media screen and (max-width: 1560px) {
               max-width: 160px;
               margin-bottom: 20px;
            }
         @media screen and (max-width: 800px) {
            max-width: 100%;
         }
         @media screen and (max-width: $Small) {
            max-width: 160px;
         }
      }
   }

   &__card-image {
      position: absolute;
      top: 13px;
      right: 24px;
      width: 60px;
      height: 60px;

      @media screen and (max-width: 1560px) {
         top: 25px;

      }

      @media screen and (max-width: 1440px) {
         width: 50px;
         height: 50px;
      }

      @media screen and (max-width: 1280px) {
         width: 40px;
         height: 40px;
      }
   }

   &__button {
      max-width: 32.5%;
      padding: 18px 0;

      @media screen and (max-width: $Medium) {
         max-width: 270px;
      }

      @media screen and (max-width: 800px) {
         max-width: 100%;
      }
   }
}
//section expertise
.expertise {
   position: relative;
   background: linear-gradient(67.66deg, #D01C28 -18.98%, #1F50FE 17%, #899AFF 108.07%);
 
   &-container {
      max-width: 1920px;
      padding: 0 72px;
      margin: 0 auto;

      @media screen and (max-width: $Large-l) {
          padding: 0 56px;
      }
      @media screen and (max-width: 1500px) {
          padding: 0 40px;
      }
      @media screen and (max-width: $Medium-l) {
          padding: 0 16px;
      }
  }

   &__title {
      color: $white;
      margin-bottom: 40px;
      padding-left: 30px;

      @media screen and (max-width: 1440px) {
         padding-left: 0;
      }
   }

   &__cards {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(5, minmax(180px, 1fr));
      gap: 16px;

      @media screen and (max-width: $Medium-l) {
         grid-template-rows: repeat(5, auto);
         grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 374px) {
         grid-template-rows: repeat(10, auto);
         grid-template-columns: repeat(1, 1fr);
      }
   }

   &__card {
      padding: 30px;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);

      @media screen and (max-width: 1280px) {
         padding: 20px;
      }
      @media screen and (max-width: $Small-l) {
         padding: 16px;
      }

      &:nth-child(1) {
         background: $white;
         border-radius: 0;
      }
      &:nth-child(2) {
         border-radius: 0 0 25px 0;
      }
      &:nth-child(3) {
         border-radius: 25px 25px 0 25px;
      }
      &:nth-child(4) {
         border-radius: 0 25px 25px 0;
      }
      &:nth-child(5) {
         border-radius: 25px 25px 25px 25px;
      }
      &:nth-child(6) {
         border-radius: 25px 25px 0 25px;
      }
      &:nth-child(7) {
         border-radius: 0 25px 0 25px;
      }
      &:nth-child(9) {
         border-radius: 25px 0 0 0;
      }
      &:nth-child(10) {
         border-radius: 0 25px 0 0;
      }
      @media screen and (max-width: $Small-l) {
         &:nth-child(-n+10) {
            border-radius: 0 20px 0 0;
         }
         &:nth-child(1) {
            border-radius: 0 0 20px 0;
         }
      }
   }

   &__card-image {
      display: block;
      width: 82px;
      height: 40px;
      margin-bottom: 16px;
      fill: $white;

      @media screen and (max-width: $Small-l) {
         width: 65px;
         height: 32px;
      }

      .expertise__card:first-child & {
         fill: $red;
      }
   }

   &__text {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.5;
      color: $white;

      .expertise__card:first-child & {
         font-weight: 700;
      }
      
      @media screen and (max-width: 1440px) {
         font-size: 22px;
      }
      @media screen and (max-width: 1280px) {
         font-size: 18px;
         font-weight: 500;
      }
      @media screen and (max-width: $Small-l) {
         font-size: 16px;
         font-weight: 500;
      }

      .expertise__card:first-child & {
         color: $blue;
      }
   }
}
// section advantages
.advantages {
   padding-bottom: 180px;
   background: linear-gradient(72.05deg, #E6EFFF 12.23%, #D9E1FF 50.72%, #CBD2FF 88.67%);
   &__title {
      margin-bottom: 32px;
   }

   &__items {
      display: flex;
      margin-bottom: 100px;

      @media screen and (max-width: $Medium-l) {
         flex-direction: column;
         position: relative;
      }
   }

   &__item {
      width: 50%;

      @media screen and (max-width: $Medium-l) {
         width: 100%;
         margin-bottom: 20px;
      }

      &:first-child {
         position: relative;
         padding-right: 20px;
         padding-bottom: 70px;

         @media screen and (max-width: $Medium-l) {
            position: static;
            padding-bottom: 0;
         }
      }
   }
   &__paragraph {
      margin-bottom: 20px;
      }
   &__card {
      display: flex;
      align-items: center;
      background: $white;
      border-radius: 60px 0 0 60px;
      margin-bottom: 16px;
      padding-right: 20px;
      @media screen and (max-width: $Small-s) {
         padding: 8px 8px 8px 0;
      }
   }
   &__card-image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 1px solid $grey;
      background: $white;
      margin-right: 24px;

      @media screen and (max-width: 1700px) {
         width: 100px;
         height: 100px;
      }
      @media screen and (max-width: 1280px) {
         width: 80px;
         height: 80px;
      }
   }
   &__card-img {
      width: 60px;
      height: 60px;
      @media screen and (max-width: 1700px) {
         width: 40px;
         height: 40px;
      }
   }
   &__card-title {
      margin-bottom: 8px;
      
      @media screen and (max-width: $Small-l) {
         line-height: 1.19;
      }
   }
   &__card-text {
      @media screen and (max-width: 1700px) {
         font-size: 14px;
         line-height: 1.33;
      }
      @media screen and (max-width: 1280px) {
         font-size: 12px;
      }
   }
   &__button {
      position: absolute;
      bottom: 0;
      max-width: 452px;
      border-radius: 0 50px 50px 0;
      padding: 18px;

      @media screen and (max-width: $Medium-l) {
         border-radius: 50px 0 0 50px;
         bottom: -50px;
         max-width: 100%;
      }
   }
}
// section consultation
.consultation {
   position: relative;
   width: 100%;
   padding: 80px 0;
   border-radius: 0;
   background: linear-gradient(92.49deg, #1A233B 0%, #01278E 185.36%);

   @media screen and (max-width: 1440px) {
      margin-top: -60px;
      padding: 64px 0;
   }
   @media screen and (max-width: $Medium-l) {
      position: static;
      margin-top: 0px;
      padding: 56px 0;
   }

   &__title {
      position: relative;
      z-index: 1;
      color: $white;
      margin-bottom: 35px;
   }

   &__items {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $Medium-l) {
         flex-direction: column-reverse;
      }
   }

   &__item {
      &:last-child {
         position: absolute;
         right: -30px;
         top: 50%;
         transform: translateY(-50%);
         z-index: 0;

         & img {
            max-width: 465px;
            width: 100%;
            height: 308px;

            @media screen and (max-width: 1440px) {
               max-width: 433px;
               height: 287px;
            }
            @media screen and (max-width: 1440px) {
               max-width: 381px;
               height: 253px;
            }
            @media screen and (max-width: $Medium-l) {
               max-width: auto;
               height: auto;
            }
         }

         @media screen and (max-width: $Medium-l) {
            position: static;
            transform: translateY(0);
            margin-bottom: 32px;
         }
      }
      &:first-child {
         position: relative;
         top: 0;
         left: 0;
         z-index: 1;

         @media screen and (max-width: $Medium-l) {
            position: static;
            z-index: 0;
         }
      }
   }

   &__text {
      max-width: 720px;
      color: $white;
      margin-bottom: 32px;
   }

   &__button {
      margin: 0;
   }
}
// section outstaffing
.outstaffing {
   background: #FBFBFB;
   &__title {
      margin-bottom: 32px;
   }

   &__paragraph {
      margin-bottom: 60px;
      @media screen and (max-width: $Small-l) {
         margin-bottom: 20px;
      }
   }

   &__items {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      @media screen and (max-width: $Small-l) {
         flex-direction: column;
         margin-bottom: 10px;
      }
   }

   &__item {
      display: flex;
      justify-content: space-between;
      padding: 0 4.2%;
      border-right: 2px solid #B7B7B7;

      @media screen and (max-width: 1440px) {
         padding: 0 3.2%;
      }
      @media screen and (max-width: $Medium-l) {
         flex-direction: column;
         justify-content: flex-start;
      }
      @media screen and (max-width: $Small-l) {
         flex-direction: row;
         justify-content: center;
         padding: 30px 0;
         border-right: none;
         border-bottom: 2px solid #B7B7B7;
      }

      &:first-child {
         padding-left: 0;
      }
      &:last-child {
         padding-right: 0;
         border-right: 0;

         @media screen and (max-width: $Small-l) {
            border-bottom: none;
         }
      }
   }

   &__item-image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: #F1F1F1;
      border: 1px solid #B7B7B7;
      margin-right: 24px;
      box-shadow: 0px 50px 100px 5px rgba(31, 80, 254, 0.2);

      @media screen and (max-width: 1440px) {
         width: 100px;
         height: 100px;
      }
      @media screen and (max-width: 1440px) {
         width: 80px;
         height: 80px;
      }
      @media screen and (max-width: 1280px) {
         margin-right: 18px;
      }
      @media screen and (max-width: $Medium-l) {
         margin-bottom: 10px;
      }
   }

   &__item-img {
      width: 50px;
      height: 45px;
   }

   &__item-inner {
      max-width: 340px;
   }

   &__item-title {
      margin-bottom: 14px;
   }

   &__item-text {
      font-size: 16px;

      @media screen and (max-width: 1440px) {
         font-size: 14px;
      }
      @media screen and (max-width: 1280px) {
         font-size: 12px;
      }
   }

   &__button {
      max-width: 36%;
      width: 100%;
      box-shadow: 0px 50px 100px 5px rgba(31, 80, 254, 0.2);

      @media screen and (max-width: 800px) {
         max-width: 48%;
      }
      @media screen and (max-width: $Small-l) {
         max-width: 100%;
      }

   }
}
//modules
.modules {
   background: linear-gradient(89.37deg, #EFF1F4 0.54%, #FDFAFA 46.55%, #FFF5F6 99.5%);
   &__title {
      margin-bottom: 32px;
   }

   &__paragraph {
      margin-bottom: 60px;
   }

   &__items {
      max-width: 1380px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto 60px;
      gap: 4.4%;

      @media screen and (max-width: 1440px) {
         max-width: 100%;
      }
      @media screen and (max-width: 1440px) {
         gap: 2.2%;
      }
      @media screen and (max-width: $Medium-s) {
         flex-direction: column;
         margin-bottom: 30px;
      }
   }

   &__item {
      flex: 0 0 28.9%;
      padding: 32px;
      background: $white;
      box-shadow: 0px 50px 100px 5px rgba(31, 80, 254, 0.2);

      @media screen and (max-width: 1440px) {
         flex: 0 0 30%;
         padding: 24px;
      }
      @media screen and (max-width: $Medium-s) {
         margin-bottom: 24px;
      }

      &:nth-child(2) {
         border-radius: 0 60px 0 60px;
      }
   }

   &__item-number {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.5;
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 2px solid #D01C28;

      @media screen and (max-width: 1440px) {
         padding-bottom: 16px;
         margin-bottom: 16px;
      }
      @media screen and (max-width: 1280px) {
         font-size: 28px;
      }
      @media screen and (max-width: $Medium-s) {
         padding-bottom: 8px;
      }
   }

   &__item-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.19;
      margin-bottom: 24px;

      @media screen and (max-width: 1440px) {
         font-size: 22px;
         margin-bottom: 16px;
      }
      @media screen and (max-width: 1280px) {
         font-size: 18px;
      }
   }

   &__item-paragraph {
      font-size: 16px;

      @media screen and (max-width: 1440px) {
         font-size: 14px;
      }
      @media screen and (max-width: 1280px) {
         font-size: 12px;
      }
   }

   &__button {
      border-radius: 20px 0 20px 0;
      box-shadow: 0px 50px 100px 5px rgba(31, 80, 254, 0.2);
   }
}
//solutions
.solutions {
   background: linear-gradient(92.49deg, #1A233B 0%, #01278E 185.36%);
   padding-bottom: 170px;
   &__title {
      color: $white;
      margin-bottom: 32px;
   }

   &__paragraph {
      color: $white;
      margin-bottom: 60px;
   }

   &__item { 
      display: flex;
      border-radius: 40px 40px 0 40px;
      padding: 40px;
      padding-bottom: 100px;
      margin-top: -55px;
      margin-left: auto;

      @media screen and (max-width: 1440px) {
         margin-top: -40px;
         padding: 32px;
         padding-bottom: 60px;
      }
      @media screen and (max-width: 1440px) {
         margin-top: -40px;
         padding: 24px;
         padding-bottom: 77px;
      }
      @media screen and (max-width: $Small-l) {
         flex-direction: column;
         margin-top: -20px;
         padding: 16px;
         padding-bottom: 32px;
         border-radius: 30px;
      }

      &:nth-of-type(1) {
         margin-top: 0;
         background: #D8DDFF;
      }
      &:nth-of-type(2) {
         width: 95%;
         background: #E9ECFF;
      }
      &:nth-of-type(3) {
         width: 90%;
         margin-bottom: 50px;
         background: $white;
         border-radius: 40px 40px 40px 40px;

         @media screen and (max-width: $Small-l) {
            border-radius: 30px;
            margin-bottom: 32px;
         }
      }
   }

   &__item-title {
      max-width: 40%;
      width: 100%;
      margin-right: 50px;

      @media screen and (max-width: $Small-l) {
         max-width: 100%;
         margin-right: 0;
         margin-bottom: 8px;
      }
   }
   &__button {
      max-width: 612px;
      border-radius: 40px;
      margin-left: auto;
      margin-right: 0;
      padding: 18px;

      @media screen and (max-width: 1440px) {
         max-width: 564px;
      }
      @media screen and (max-width: 1280px) {
         max-width: 400px;
      }
      @media screen and (max-width: $Small-l) {
         max-width: 295px;
      }
   }
}
//description
.description {
   background: url('@img/description/description_bg_right.png') no-repeat 100% 30%,
               url('@img/description/description_bg_left.png') no-repeat -190px 300px,#FBFBFB;

               @media screen and (max-width: 1440px) {
                  background: url('@img/description/description_bg_right.png') no-repeat 100% 30% / 633px,
                  url('@img/description/description_bg_left.png') no-repeat -190px 300px,#FBFBFB;
               }
               @media screen and (max-width: 1280px) {
                  background: url('@img/description/description_bg_right.png') no-repeat 100% 10% / 510px,
                              url('@img/description/description_bg_left.png') no-repeat -190px 300px,#FBFBFB;
               }
               @media screen and (max-width: $Medium) {
                  background: url('@img/description/description_bg_right.png') no-repeat 100% -40px / 510px,#FBFBFB;
               }
               @media screen and (max-width: $Medium-s) {
                  background-size: 376px;
               }

   &__title {
      margin-bottom: 39px;
   }

   &__items-wrapper {
      display: flex;

      @media screen and (max-width: $Medium) {
         flex-direction: column;
      }
   }

   &__item {
      width: 50%;
     
      @media screen and (max-width: 900px) {
         width: 100%;
      }
      &:nth-child(1) {
         padding-right: 60px;
         @media screen and (max-width: 900px) {
           padding-right: 0;
         }
      }
   }

   &__item_right {
      display: block;

      @media screen and (max-width: 900px) {
         display: none;
      }
   }
   &__item-title {
      margin-bottom: 24px;
      text-align: right;
      cursor: pointer;

      &.is-active {
         font-size: 32px;
         font-weight: 700;
         line-height: 1.5;
         color: $blue;

         @media screen and (max-width: 1440px) {
            font-size: 24px;
         }
         @media screen and (max-width: 1280px) {
            font-size: 20px;
         }
         @media screen and (max-width: 900px) {
            font-size: 18px;
         }
      }

      @media screen and (max-width: 900px) {
         text-align: left;
      }
   }

   &__card {
      display: none;
      padding: 30px;
      border: 2px solid $blue;
      border-radius: 0 40px 40px 40px;
      background: rgba(255, 255, 255, 0.8);

      @media screen and (max-width: 1280px) {
         padding: 24px;
      }

      @media screen and (max-width: 900px) {
         margin-bottom: 24px;
         padding: 16px;
      }

      &.is-active {
         display: block;
      }
   }
   &__card-paragraph {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 24px;
      &:nth-of-type(2) {
         margin-bottom: 0;
      }

      @media screen and (max-width: 1440px) {
         font-size: 14px;
      }
      @media screen and (max-width: 1280px) {
         font-size: 12px;
      }
   }
}
// partners
.partners {
   padding-bottom: 180px;
   background: linear-gradient(72.05deg, #CBD2FF 12.23%, #D9E1FF 50.72%, #E6EFFF 88.67%);

   &__title {
      margin-bottom: 60px;
      // margin-bottom: 40px;

      @media screen and (max-width: $Medium) {
         margin-bottom: 32px;
      }
   }
}
// price
.price {
   overflow: hidden;
   padding: 0;
   &__items {
      display: flex;

      @media screen and (max-width: $Medium) {
         flex-direction: column;
      }
   }

   &__item {
      padding: 80px 0 150px;

     &_left {
         width: 55.7%;
         background: #FBFBFB ;
         @media screen and (max-width: $Medium) {
            width: 100%;
            padding: 80px 0;
         }
         @media screen and (max-width: $Small-l) {
            padding: 32px 0 80px;
         }
     }

     &_right {
         width: 44.3%;
         background: #1A233B;
         @media screen and (max-width: $Medium) {
            width: 100%;
            padding: 32px 0 150px
         }
     }
   }

   &__item-title {
      margin-bottom: 16px;
   }

   &__item-paragraph {
      margin-bottom: 32px;
   }

   &__form {
      .label-service {
         display: flex;
         align-items: center;
         margin-right: 5px;
         cursor: pointer;

         @media screen and (max-width: $Medium) {
            margin-bottom: 10px;
         }
      }
   }

   &__form-title {
      margin-bottom: 28px;

      @media screen and (max-width: 1440px) {
         margin-bottom: 20px;
      }
   }

   &__form-items {
      margin-bottom: 36px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;

      @media screen and (max-width: 1824px) {
         font-size: 14px;
      }
      @media screen and (max-width: 1439px) {
         font-size: 12px;
      }
      @media screen and (max-width: $Medium) {
         width: calc(100% - 50px);
      }
      @media screen and (max-width: $Small-l) {
         width: 100%;
      }

      &:nth-of-type(1),&:nth-of-type(2) {
         display: flex;
         justify-content: space-between;
         @media screen and (max-width: $Small) {
            flex-direction: column;
            margin-bottom: 15px;
         }
      }
      &:nth-of-type(3) {
         display: grid;
         grid-template-rows: repeat(4, auto);
         grid-template-columns: 1fr 1.2fr 1fr;

         @media screen and (max-width: $Small) {
            grid-template-rows: repeat(10, auto);
            grid-template-columns: repeat(1, 1fr);
            margin-bottom: 15px;
         }
         & .checkbox {
            display: flex;
            align-items: center;
            margin-right: 3%;
            margin-bottom: 20px;
         }
      }
      
      & button {
         display: inline-block;
         width: 26px;
         height: 26px;
         border-radius: 50%;
         border: none;
         color: $white;
         background: $blue;

         @media screen and (max-width: 1440px) {
            width: 22px;
            height: 22px;
         }
         @media screen and (max-width: 1280px) {
            width: 18px;
            height: 18px;
         }
         @media screen and (max-width: $Small) {
            display: none;
         }
      }
   }
   &__form-item {
      margin-bottom: 15px;
      @media screen and (max-width: $Medium) {
         position: relative;
      }
      & input:focus~span {
         top: 0;
         font-size: 12px;
      }
      & input {
         display: inline-block;
         width: 32px;
         height: 32px;
         text-align: center;
         border: none;
         background: #FBFBFB;

         &:focus {
            outline: none;
            border: 1px solid $grey;
         }

         @media screen and (max-width: $Small) {
            width: 100%;
            border: 1px solid $grey;
            border-radius: 5px;
            text-align: left;
            padding: 0 18px;
         }
      }
      & span {
         margin-left: 16px;
         margin-right: auto;
         background: #FBFBFB;

         @media screen and (max-width: 1440px) {
            display: inline;
            margin-left: 8px;
            margin-right: 8px;
         }
         @media screen and (max-width: 1150px) {
            display: block;
            margin-left: 0;
         }
         @media screen and (max-width: $Small) {
            position: absolute;
            top: 50%;
            left: 2%;
            transform: translateY(-50%);
            display: inline;
            text-align: center;
            padding: 0 10px;
            margin: 0 auto;
            &.active {
               top: 0;
               font-size: 12px;
            }
         }
         @media screen and (max-width: 400px) {
            left: 0;
            transform: translate(10px,-50%);
            & ~ input:focus {
               top: 0;
               font-size: 12px;
            }
         }
      }
   }
   &__form-input {
      width: 32px;
      height: 32px;
      margin-right: 16px;
      cursor: pointer;

      @media screen and (max-width: 1540px) {
         width: 24px;
         height: 24px;
         margin-right: 8px;
      }
      @media screen and (max-width: 1439px) {
         width: 22px;
         height: 22px;
      }
   }

   &__form-checkbox {
      width: 32px;
      height: 32px;
      margin-right: 16px;

      @media screen and (max-width: 1824px) {
         width: 24px;
         height: 24px;
         margin-right: 8px;
      }
      @media screen and (max-width: 1300px) {
         width: 22px;
         height: 22px;
         margin-right: 8px;
      }
   }
   &__form-range {
      appearance: none;
      width: 100%;
      position: relative;
      // &::after {
      //    content: '';
      //    position: absolute;
      //    top: 50%;
      //    left: 50%;
      //    transform: translate(-50%,-50%);
      //    width: 100%;
      //    width: 90vw;
      //    height: 50%;
      //    // background-position: 0 0;
      //    // background-repeat: repeat;
      //    background: url("data:image/svg+xml,%3Csvg width='30' height='2' viewBox='0 0 30 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3.01111' cy='3' r='3' fill='%23C4C4C4'/%3E%3C/svg%3E%0A") repeat-x -10% 50%, $blue;  
      // }
      &::-webkit-slider-runnable-track {
         border-radius: 10px;
         height: 6px;
         background-color: $blue;
         // background: url("data:image/svg+xml,%3Csvg width='30' height='2' viewBox='0 0 30 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3.01111' cy='3' r='3' fill='%23C4C4C4'/%3E%3C/svg%3E%0A") repeat-x -10% 50%, $blue;
       }
      &::-webkit-slider-thumb {
         background: red;
         box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.377);
         border-radius: 50%;
         cursor: pointer;
         width: 20px;
         height: 20px;
         -webkit-appearance: none;
         margin-top: -6px;
         position: relative;
         z-index: 100;
       }
   }
   &__item-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   &__title {

     &_right {
      color: $white
     }
   }

   &__item-content {
      flex: 1 0 auto;
      @media screen and (max-width: $Medium) {
        min-height: 200px;
      }
   }

   &__item-button {
      border-radius: 50px;
   }
}
.price-container {

   &_left {
      max-width: 1920px;
      padding: 0 80px 0 120px;
      margin: 0 auto;

      @media screen and (max-width: 1824px) {
         padding: 0 40px 0 56px;
      }
      @media screen and (max-width: 1400px) {
         padding: 0 32px 0 40px;
      }
      @media screen and (max-width: $Small-l) {
         padding: 0 16px;
      }
   }

   &_right {
      max-width: 1920px;
      padding: 0 120px 0 64px;
      margin: 0 auto;
      height: 100%;

      @media screen and (max-width: $Medium) {
         padding: 0 40px;
      }
   }
}
// footer