@import 'reset.scss';
@import 'variables.scss';
@import 'global.scss';
@import 'fonts.scss';
@import 'header.scss';
@import 'footer.scss';
//common style
body {
    font-family: 'SF Pro Display';
    font-size: 18px;
    font-weight: 400;
    font-style: normal;

    @media screen and (max-width: 1440px) {
       font-size: 16px;
    }

    @media screen and (max-width: 1300px) {
       font-size: 14px; 
    }

    &.lock {
      overflow: hidden;
    }
}
section {
   position: relative;
   padding: 80px 0 150px;
   border-radius: 100px 100px 0 0;
   margin-top: -100px;

   @media screen and (max-width: 1440px) {
      border-radius: 50px 50px 0 0;
      padding: 64px 0 100px;
      margin-top: -60px;
   }
   @media screen and (max-width: 1280px) {
      padding: 56px 0 100px;
      margin-top: -60px;
   }
   @media screen and (max-width: $Medium-s) {
      border-radius: 30px 30px 0 0;
   }
}
.title {
   font-size: 50px;
   font-weight: 700;
   line-height: 1.5;

   @media screen and (max-width: 1440px) {
      font-size: 42px;
      font-weight: 700;
      line-height: 1.193;
   }
   @media screen and (max-width: 1280px) {
      font-size: 42px;
      font-weight: 700;
      line-height: 1.193;
   }
   @media screen and (max-width: $Small-l) {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.193;
   }
}
//button top
.button-top {
   display: block;
   position: fixed;
   bottom: 5%;
   right: 5%;
   width: 64px;
   height: 64px;
   border-radius: 50%;
   border: 1px solid $blue;
   background: $white url('../img/button-top.png')no-repeat 50% 50%;

   @media screen and (max-width: $Small-l) {
      width: 44px;
      height: 44px;
   }
}
//section group
.group {
   margin-top: 0;
   border-radius: 0;
   background: linear-gradient(296.95deg, rgba(255, 255, 255, 0.5) 15.52%, rgba(233, 241, 255, 0.5) 95.06%);

   &__wrapper {
      display: flex;

      @media screen and (max-width: $Medium-l) {
         flex-direction: column;
      }
   }

   &__items {
      &:first-child {
         @media screen and (max-width: $Medium-l) {
            margin-bottom: 50px;
         }
      }
   }

   &__title {
      font-size: 72px;
      font-weight: 700;
      line-height: 1.5;
      color: $blue;
      margin-bottom: 24px;

      @media screen and (max-width: 1440px) {
         font-size: 60px;
         line-height: 1.119;
      }
      @media screen and (max-width: 1280px) {
         font-size: 40px;
         line-height: 1.193;
      }
      @media screen and (max-width: $Small-s) {
         font-size: 30px;
      }
   }

   &__text {
      max-width: 900px;
      margin-bottom: 30px;

      &:nth-of-type(2) {
         margin-bottom: 70px;
         @media screen and (max-width: $Small-l) {
            margin-bottom: 0;
         }
      }
   }

   &__images {
      display: flex;
      @media screen and (max-width: $Small-l) {
         display: none;
      }
   }

   &__image {
      margin-right: 52px;
   }
}
// section services
.services {
   background: linear-gradient(72.05deg, #E6EFFF 12.23%, #D9E1FF 50.72%, #CBD2FF 88.67%);

   &__title {
      margin-bottom: 30px;
   }

   &__text {
         margin-bottom: 30px;
   }

   &__cards {
      gap: 22px;
      display: flex;
      margin-bottom: 40px;

      @media screen and (max-width: 800px) {
         flex-direction: column;
      }
   }

   &__card {
      position: relative;
      flex: 0 1 33.33%;
      padding: 24px 24px 32px 24px;
      background: $white;
      box-shadow: 0px 100px 80px rgba(31, 80, 254, 0.03), 0px 64.8148px 46.8519px rgba(31, 80, 254, 0.0227778), 0px 38.5185px 25.4815px rgba(31, 80, 254, 0.0182222), 0px 20px 13px rgba(31, 80, 254, 0.015), 0px 8.14815px 6.51852px rgba(31, 80, 254, 0.0117778), 0px 1.85185px 3.14815px rgba(31, 80, 254, 0.00722222);

      &:nth-child(1) {
         border-radius: 30px 0 0 0;
      }
      &:nth-child(3) {
         border-radius: 0 0 30px 0;
      }

      &:nth-child(-n+3) {
         @media screen and (max-width: $Medium-l) {
            border-radius: 30px 0 0 0;
         }
      }
   }

   &__card-title {
      margin-bottom: 60px;
      
      .services__card:first-child & {
            @media screen and (max-width: 1680px) {
               max-width: 170px;
               margin-bottom: 20px;
            }
      }
      .services__card:nth-child(-n+3) & {
         @media screen and (max-width: 1560px) {
               max-width: 160px;
               margin-bottom: 20px;
            }
         @media screen and (max-width: 800px) {
            max-width: 100%;
         }
         @media screen and (max-width: $Small) {
            max-width: 160px;
         }
      }
   }

   &__card-image {
      position: absolute;
      top: 13px;
      right: 24px;
      width: 60px;
      height: 60px;

      @media screen and (max-width: 1560px) {
         top: 25px;

      }

      @media screen and (max-width: 1440px) {
         width: 50px;
         height: 50px;
      }

      @media screen and (max-width: 1280px) {
         width: 40px;
         height: 40px;
      }
   }

   &__button {
      display: block;
      max-width: calc((100% / 3) - 22px);
      width: 100%;
      padding: 18px 0;
      color: $white;
      background: $blue;
      border: none;
      margin: 0 auto;
      text-transform: uppercase;
      cursor: pointer;

      @media screen and (max-width: $Medium) {
         max-width: 270px;
      }

      @media screen and (max-width: 800px) {
         max-width: 100%;
      }
   }
}
//section expertise
.expertise {
   position: relative;
   background: linear-gradient(67.66deg, #D01C28 -18.98%, #1F50FE 17%, #899AFF 108.07%);
 
   &-container {
      max-width: 1920px;
      padding: 0 72px;
      margin: 0 auto;

      @media screen and (max-width: $Large-l) {
          padding: 0 56px;
      }
      @media screen and (max-width: 1500px) {
          padding: 0 40px;
      }
      @media screen and (max-width: $Medium-l) {
          padding: 0 16px;
      }
  }

   &__title {
      color: $white;
      margin-bottom: 40px;
      padding-left: 30px;

      @media screen and (max-width: 1440px) {
         padding-left: 0;
      }
   }

   &__cards {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(5, minmax(180px, 1fr));
      gap: 16px;

      @media screen and (max-width: $Medium-l) {
         grid-template-rows: repeat(5, auto);
         grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 374px) {
         grid-template-rows: repeat(10, auto);
         grid-template-columns: repeat(1, 1fr);
      }
   }

   &__card {
      padding: 30px;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);

      @media screen and (max-width: 1280px) {
         padding: 20px;
      }
      @media screen and (max-width: $Small-l) {
         padding: 16px;
      }

      &:nth-child(1) {
         background: $white;
         border-radius: 0;
      }
      &:nth-child(2) {
         border-radius: 0 0 25px 0;
      }
      &:nth-child(3) {
         border-radius: 25px 25px 0 25px;
      }
      &:nth-child(4) {
         border-radius: 0 25px 25px 0;
      }
      &:nth-child(5) {
         border-radius: 25px 25px 25px 25px;
      }
      &:nth-child(6) {
         border-radius: 25px 25px 0 25px;
      }
      &:nth-child(7) {
         border-radius: 0 25px 0 25px;
      }
      &:nth-child(9) {
         border-radius: 25px 0 0 0;
      }
      &:nth-child(10) {
         border-radius: 0 25px 0 0;
      }
      @media screen and (max-width: $Small-l) {
         &:nth-child(-n+10) {
            border-radius: 0 20px 0 0;
         }
         &:nth-child(1) {
            border-radius: 0 0 20px 0;
         }
      }
   }

   &__card-image {
      display: block;
      width: 82px;
      height: 40px;
      margin-bottom: 16px;
      fill: $white;

      @media screen and (max-width: $Small-l) {
         width: 65px;
         height: 32px;
      }

      .expertise__card:first-child & {
         fill: $red;
      }
   }

   &__text {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.5;
      color: $white;

      .expertise__card:first-child & {
         font-weight: 700;
      }
      
      @media screen and (max-width: 1440px) {
         font-size: 22px;
      }
      @media screen and (max-width: 1280px) {
         font-size: 18px;
         font-weight: 500;
      }
      @media screen and (max-width: $Small-l) {
         font-size: 16px;
         font-weight: 500;
      }

      .expertise__card:first-child & {
         color: $blue;
      }
   }
}
// section advantages
.advantages {
   padding-bottom: 180px;
   background: linear-gradient(72.05deg, #E6EFFF 12.23%, #D9E1FF 50.72%, #CBD2FF 88.67%);
   &__title {
      margin-bottom: 32px;
   }

   &__items {
      display: flex;
      margin-bottom: 100px;

      @media screen and (max-width: $Medium-l) {
         flex-direction: column;
         position: relative;
      }
   }

   &__item {
      width: 50%;

      @media screen and (max-width: $Medium-l) {
         width: 100%;
         margin-bottom: 20px;
      }

      &:first-child {
         position: relative;
         padding-right: 20px;
         padding-bottom: 70px;

         @media screen and (max-width: $Medium-l) {
            position: static;
            padding-bottom: 0;
         }
      }
   }
   &__paragraf {
      margin-bottom: 20px;
      }
   &__card {
      display: flex;
      align-items: center;
      background: $white;
      border-radius: 60px 0 0 60px;
      margin-bottom: 16px;
      padding-right: 20px;
      @media screen and (max-width: $Small-s) {
         padding: 8px 8px 8px 0;
      }
   }
   &__card-image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 1px solid $grey;
      background: $white;
      margin-right: 24px;

      @media screen and (max-width: 1700px) {
         width: 100px;
         height: 100px;
      }
      @media screen and (max-width: 1280px) {
         width: 80px;
         height: 80px;
      }
   }
   &__card-img {
      width: 60px;
      height: 60px;
      @media screen and (max-width: 1700px) {
         width: 40px;
         height: 40px;
      }
   }
   &__card-title {
      margin-bottom: 8px;
      
      @media screen and (max-width: $Small-l) {
         line-height: 1.19;
      }
   }
   &__card-text {
      @media screen and (max-width: 1700px) {
         font-size: 14px;
         line-height: 1.33;
      }
      @media screen and (max-width: 1280px) {
         font-size: 12px;
      }
   }
   &__button {
      position: absolute;
      bottom: 0;
      max-width: 452px;
      width: 100%;
      background: $blue;
      text-transform: uppercase;
      border-radius: 0 50px 50px 0;
      padding: 18px;
      border: none;
      color: $white;

      @media screen and (max-width: $Medium-l) {
         border-radius: 50px 0 0 50px;
         bottom: -50px;
         max-width: 100%;
      }
   }
}
// section consultation
.consultation {
   position: relative;
   width: 100%;
   padding: 80px 0;
   border-radius: 0;
   background: linear-gradient(92.49deg, #1A233B 0%, #01278E 185.36%);

   @media screen and (max-width: 1440px) {
      margin-top: -60px;
      padding: 64px 0;
   }
   @media screen and (max-width: $Medium-l) {
      position: static;
      margin-top: 0px;
      padding: 56px 0;
   }

   &__title {
      position: relative;
      z-index: 1;
      color: $white;
      margin-bottom: 35px;
   }

   &__items {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $Medium-l) {
         flex-direction: column-reverse;
      }
   }

   &__item {
      &:last-child {
         position: absolute;
         right: -30px;
         top: 50%;
         transform: translateY(-50%);
         z-index: 0;

         & img {
            max-width: 465px;
            width: 100%;
            height: 308px;

            @media screen and (max-width: 1440px) {
               max-width: 433px;
               height: 287px;
            }
            @media screen and (max-width: 1440px) {
               max-width: 381px;
               height: 253px;
            }
            @media screen and (max-width: $Medium-l) {
               max-width: auto;
               height: auto;
            }
         }

         @media screen and (max-width: $Medium-l) {
            position: static;
            transform: translateY(0);
            margin-bottom: 32px;
         }
      }
      &:first-child {
         position: relative;
         top: 0;
         left: 0;
         z-index: 1;

         @media screen and (max-width: $Medium-l) {
            position: static;
            z-index: 0;
         }
      }
   }

   &__text {
      max-width: 720px;
      color: $white;
      margin-bottom: 32px;
   }

   &__button {
      max-width: 400px;
      width: 100%;
      padding: 13px;
      text-transform: uppercase;
      color: $white;
      border: none;
      background: $blue;
   }
}
